# Node
node_modules/

# Miljövariabler
.env

# Loggar
*.log
npm-debug.log*
/logs

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# VS Code
.vscode/

# Tillfälliga filer
*.tmp

# Batch-filer
*.bat

# Genererade ikoner
icons/